
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-family: sans-serif;
  width: auto;
  background-color: white;
  padding: 2em 1em 2em 1em;
  border-radius: 2%
  }

.component-container {
  display: inline-block;
  margin: 2em;
}
